<section class="event-section">
<h2 class="event-actor"><img class="event-portrait" src="tokens/orc_001.jpg"></h2>
<section class="event-block resizable">
<div class="">
    {{event.data.data.description}}
</div>
</section>
<h2 class="event-name"><img class="event-portrait" src="tokens/orc_002.jpg"></h2>

</section>

