
.helyx.sheet.item .sheet-body .description .editor {
    height: 250px;
    border: 1px solid black;
}

.helyx.sheet.item .sheet-body .description .editor .editor-content {
        padding: 0 5px;
}

.helyx.sheet.actor .sheet-body .description .editor {
    height: 250px;
    border: 1px solid black;
}

.helyx.sheet.actor .sheet-body .description .editor .editor-content {
        padding: 0 5px;
}

.event-dialog .event-section .event-block ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border: 1px solid #7a7971;
}

.event-dialog .event-section .event-block ::-webkit-scrollbar-track {
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.9);
}

.event-dialog .dialog-buttons {
    display: none;
}

.revent-dialog .window-resizable-handle {
    bottom: none;
    top: 0px;
}


.event-dialog .event-section .event-block {
    float: left;
    width: calc(100% - 320px);
    height: calc(100% - 34px);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    overflow: auto;

    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.event-dialog .event-section .event-name {
    float: left;
    width: 150px;
    height: calc(100% - 34px); 
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.event-dialog .event-section .event-portrait {
    width: 100%;
    height: 100%;
    max-height: calc(100% -40px);
}

.event-dialog .event-section .event-portrait-name {
    width: 100%;
    height: 40px;
    padding: 5px;
}

.event-dialog .event-section .event-noportrait-name {
    width: 100%;
    vertical-align: middle;
}

.event-dialog .event-section .event-actor {
    float: left;
    width: 150px;
    height: calc(100% - 34px);  
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
